@model UcakRezervasyon.Models.KoltukSec

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KoltukSec</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ucus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ucus.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.koltukNumarasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.koltukNumarasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kiralanmaDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kiralanmaDurumu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
