@model IEnumerable<UcakRezervasyon.Models.KoltukSec>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="bg-image h-100" style="background-image: url('c:\users\aslan\source\repos\ucakrezervasyon\ucakrezervasyon\wwwroot\images\img7.jpg');">
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card mask-custom">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-borderless text-white mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.Ucus)
                                            </th>
                                            
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.koltukNumarasi)
                                            </th>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.kiralanmaDurumu)
                                            </th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Ucus.Id)
                                                </td>
                                                
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.koltukNumarasi)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.kiralanmaDurumu)
                                                </td>
                                                
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>