@model IEnumerable<Guzergah>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.kalkis)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.varis)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.mesafeKm)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ucusSuresi)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kalkis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.varis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mesafeKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ucusSuresi)
            </td>
            
        </tr>
}
    </tbody>
</table>
