@model IEnumerable<UcakRezervasyon.Models.Guzergah>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="bg-image h-100" style="background-image: url('c:\users\aslan\source\repos\ucakrezervasyon\ucakrezervasyon\wwwroot\images\img7.jpg');">
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card mask-custom">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-borderless text-white mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.kalkis)
                                            </th>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.varis)
                                            </th>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.mesafeKm)
                                            </th>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.ucusSuresi)
                                            </th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.kalkis)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.varis)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.mesafeKm)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ucusSuresi)
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>